<!doctype html>
<html lang="en">
    <%- include('head') %> 
    <body>
        <!-- Header part end-->
        <%- include('header') %> 
        <!-- breadcrumb start-->
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item text-center">
                                <h2>정보</h2>
                                <p>About</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb start-->

        <!-- 전체 약 제품 정보 start-->
        <section class="top_place section_padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="section_tittle text-center">
                            <h2>전체 약 제품 정보</h2>
                            <p>전체 약 제품 정보입니다.</p>
                            <p>원하시는 약의 '자세한 정보' 버튼을 누르시면 해당 약의 정보를 확인 하실 수 있습니다.</p>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="container">
                <div class="row">
                    <!-- 왼쪽 사이드 메뉴 start -->
                    <div class="col-lg-8 posts-list">
                        <div class="single-post">
                            <div class="blog_details">
                                <div class="row">
                                    <% for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
                                        if(i > length){
                                            i++;
                                        }
                                        else{
                                            var data = rows[i] %>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single_place">
                                                    <img class="pill_img" src="<%= data.큰제품이미지 %>" alt="">
                                                    <div class="hover_Text d-flex align-items-end justify-content-between">
                                                        <div class="hover_text_iner">
                                                            <h4 style="color:white;"><%= data.품목명 %></h4>
                                                            <h8 style="color:white;"><%= data.업소명 %></h8></br></br>
                                                            <button type="button" class="btn btn-primary" data-toggle="popover" title="자세한 정보"
                                                                data-content="<%= data.전문일반구분%>, <%=data.분류명%> | 제형: <%=data.의약품제형%> | 성상: <%=data.성상 %>"
                                                                data-placement="bottom">자세한 정보</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <%} 
                                    }%>
                                </div>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="/about?data=<%= data1 %>&page=<%= 1 %>">&laquo;</a></li>
                                    <% 
                                        var total = parseInt(rows.length/page_num)+1;
                                        if(total <= 1){%>
                                            <li class="page-item"><a style="background-color:lightgray;" href="/about?data=<%= data1 %>&page=1">1</a></li>
                                        <%}
                                        else if(page<4){
                                            for(var k = 1; k < 8; k++){
                                                if(k<=total&&k>0){%>
                                                    <li class="page-item"><a <% if(page==k){%> style="background-color:lightgray;" <%} %> href="/about?data=<%= data1 %>&page=<%= k %>"><%= k %></a></li>
                                                <%}
                                                else{
                                                    continue;;
                                                }
                                            }
                                        }
                                        else if(page+4>total){
                                            for(var k = total-7 ; k < total+1 ; k++){
                                                if(k<=total&&k>0){%>
                                                    <li class="page-item"><a <% if(page==k){%> style="background-color:lightgray;" <%} %> href="/about?data=<%= data1 %>&page=<%= k %>"><%= k %></a></li>
                                                <% }
                                                else{
                                                    continue;
                                                }
                                            }
                                            }
                                        else{
                                            for(var k = parseInt(page)-3; k < parseInt(page)+4; k++){%>
                                                <li class="page-item"><a <% if(page==k){%> style="background-color:lightgray;" <%} %> href="/about?data=<%= data1 %>&page=<%= k %>"><%= k %></a></li>
                                            <% }
                                        }
                                        %>
                                    <li class="page-item"><a class="page-link" href="/about?data=<%= data1 %>&page=<%= total %>">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 왼쪽 사이드 메뉴 end -->

                    <!-- 오른쪽 사이드 메뉴 start -->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form method='get' action="/about">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" id="search" name="search" placeholder='검색어 검색' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btn" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="button rounded-0 primary-bg text-white w-100 btn_1 text-center" href="javascript:text_Value(this)" >검색</a>
                                </form>
                            </aside>
                            <script>
                                function text_Value(f) {
                                    var text_search = f.search.value;
                                    text_search=text_search.trim();

                                    var get_text = "about?data="+text_search+"&page=1";
                                    location.replace(get_text)
                                    return get_text;
                                }
                            </script>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">카테고리</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="about?data=&page=1" class="d-flex">
                                            <p>전체보기</p>
                                            <p>(5893)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=해열.진통.소염제&page=1" class="d-flex">
                                            <p>해열.진통.소염제</p>
                                            <p>(661)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=혈압강하제&page=1" class="d-flex">
                                            <p>혈압강하제</p>
                                            <p>(478)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=당뇨병용제&page=1" class="d-flex">
                                            <p>당뇨병용제</p>
                                            <p>(204)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=진해거담제&page=1" class="d-flex">
                                            <p>진해거담제</p>
                                            <p>(253)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=최면진정제&page=1" class="d-flex">
                                            <p>최면진정제</p>
                                            <p>(30)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about?data=구충제&page=1" class="d-flex">
                                            <p>구충제</p>
                                            <p>(11)</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                        </div>
                    </div>
                    <!-- 오른쪽 사이드 메뉴 end -->

                </div>
            </div>
        </section>

        <!-- 전체 약 제품 정보 end -->

        <!-- 지나가 노가다한게 아까워서 놔둔 데이터.. -->
        <!-- <script>
            var spe = new Array('모든전문의약품', '각성제, 흥분제', '간장질환용제', '강심제', '골격근이완제', '기타의 비뇨생식기관 및 항문용약',
                '기타의 소화기관용약', '기타의 순환계용약', '기타의 알레르기용약', '기타의 중추신경용약',
                '기타의 항생물질제제(복합항생물질제제를 포함)', '기타의 혈액 및 체액용약', '기타의 호르몬제(항호르몬제를 포함)',
                '기타의 호흡기관용약', '기타의 화학요법제', '난포호르몬제 및 황체호르몬제', '뇌하수체호르몬제', '당뇨병용제',
                '동맥경화용제', '따로 분류되지 않는 대사성 의약품', '모발용제(발모, 탈모, 염모, 양모제)', '부신호르몬제', '부정맥용제',
                '비뇨생식기관용제(성병예방제포함)', '비타민 A 및 D제', '비타민 E 및 K제', '설화제', '소화성궤양용제',
                '아편알카로이드계 제제', '이담제', '자격요법제(비특이성면역억제제를 포함)', '자율신경제', '정신신경용제',
                '주로 그람양성, 음성균, 리케치아, 비루스에 작용하는 것', '주로 그람양성, 음성균에 작용하는 것',
                '주로 그람양성균, 리케치아, 비루스에 작용하는 것', '주로 그람양성균에 작용하는 것', '지혈제', '진경제', '진해거담제',
                '진훈제', '최면진정제', '최토제, 진토제', '치나제', '통풍치료제', '합성마약', '항악성종양제', '항원충제', '항전간제',
                '항히스타민제', '해독제', '해열.진통.소염제', '혈관보강제', '혈관확장제', '혈압강하제', '효소제제');
            var gen = new Array('모든일반의약품', '간장질환용제', '건위소화제', '기타의 비타민제', '기타의 소화기관용약', '기타의 순환계용약',
                '기타의 알레르기용약', '기타의 자양강장변질제', '단백아미노산제제', '동맥경화용제', '따로 분류되지 않고 치료를 주목적으로 하지않는 의약품',
                '따로 분류되지 않는 대사성 의약품', '무기질제제', '비뇨생식기관용제(성병예방제포함)', '비타민 A 및 D제', '비타민 B1제',
                '비타민 B제(비타민 B1을 제외)', '비타민 C 및 P제', '비타민 E 및 K제', '소화성궤양용제', '이비과용제', '장기제제',
                '정장제', '제산제', '종합대사성제제', '진해거담제', '최면진정제', '치과구강용약', '치질용제', '칼슘제', '피임제',
                '하제, 완장제', '항히스타민제', '해독제', '해열.진통.소염제', '혈관보강제', '혈액대용제', '혼합비타민제(비타민AD 혼합제제를 제외)',
                '화농성질환용제', '효소제제');
        </script> -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script> $( function () { $( '[data-toggle="popover"]' ).popover({trigger: 'focus'}) } ); </script>

        <%- include('footer') %> 
    </body>
    <style>
        .pill_img {
            width: 450px;
            height: 250px;
            object-fit: cover;
        }
    </style>
</html>
